body {
    padding-top: 40px; 
    position: relative; 
    min-height: 100vh; 
}

#carouselExampleCaptions .carousel-item img {
    width: 100%!important;
    height: 400px!important; 
    object-fit: cover!important;
}

.footer-login {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px; 
}

.footer-subscripcion{
    margin-top: 280px;
    bottom: 0;
    width: 100%;
    height: 200px; 
}

.body-contacto{
    height: 80%;
    margin-left: auto;
    margin-right: auto;
}

.footer-busqueda{
    margin-top: 280px;
    bottom: 0;
    width: 100%;
    height: 200px; 
}

.form-busqueda{
    color: white;
}